

/* Style for the form */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height:1700px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff; /* White background for the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
}
  
  /* Style for labels */
  form label {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Style for input fields */
  .input-field {
    padding: 2px;
    border: 10px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style for the submit button */
  button[type="submit"] {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /* Align the button to the end of the flex container */
  }
  